<!DOCTYPE html>

<html>
<head>
    <title>WatchVictis</title>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header>
        <img src="static/img/logo.svg">
        <h1>WatchVictis</h1>
        <div id=""
    </header>
    <div id="log"></div>
    <form id="emit">
        <input type="text" id="emit_data" placeholder="Type here">
        <input type="submit" value="Emit">
    </form>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/req');
        socket.addEventListener('response', function(data) {
            document.getElementById('log').innerHTML += '<p>Received: ' + data + '</p>';
        });
        document.querySelector('form#emit').onsubmit = function(event) {
            socket.emit('event', {data: document.getElementById('emit_data').value});
            return false;
        };
    </script>
</body>
</html>
