<!DOCTYPE html>

<html>

<head>
    <title>WatchVictis</title>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <header>
        <img src="static/img/logo.svg" id="logo">
        <div>
            <h1>WatchVictis</h1>
            <select id="event-selector">
                <option>No events found.</option>
            </select>
        </div>
    </header>
    <aside id="matches-pane">
        <table>
            <thead>
                <tr>
                    <th>Match</th>
                    <th>Red alliance</th>
                    <th>Blue alliance</th>
                </tr>
            </thead>
            <tbody id="matches-list">
                <tr><td>No matches found.</td></tr>
            </tbody>
        </table>
    </aside>
    <aside id="stream">
        <p>No stream found.</p>
    </aside>
    <script src="static/javascript/scripts.js"></script>
</body>

</html>
